* {

    padding: 0 auto;
    margin: 0 auto;
}

.contenedor{
    margin-top: 1em;
    width: 700px;
    height: auto;
    background-color:rgba(204, 201, 201, 0.753);
    border: 2px black solid;
}

.titulo{
    font-size: large;
    text-align: center;
}



.texto{
    padding: 1em    ;
    margin: 1cm;
    background-color: rgba(214, 163, 130, 0.863);
    text-align: justify;
    border: 2px rgb(167, 36, 36) solid;
    

}

input{
    text-align: right;
}
